@import 'bootstrap'

.book
  .info
    .cover
      float: left
      margin-right: 20px

  ul.notes
    make-sm-column 8
    padding-left: 0
    margin-top: 50px
    list-style-type: none

    li
      margin: 20px 0

      textarea
        make-sm-column 12
        height: 80px

      p
        white-space: pre-wrap
